:root{
    --aqua-lake: #2f9599;
    --ruby-dust: #e8175d;

    /* arctic Sunrise */
    --azure-green-blue: #006c84;
    --water-music: #6eb5c0;
    --rarified-air: #e2e8e4;
    --dainty-peach: #ffccbb;

    /* cool blues*/
    --rich-black: #003b46;
    --blue-period: #07575b;
    --nirvana-jewel: #66a5ad;
    --breeze-in-june: #c4dfe6;
}